logfile: "log/error.log"
redmine:
  url: "http://redmine.example.com/"
  apikeyOrUsername: "username"
  pass: "password"
slack:
  token: "abcd-12345678901-12345678901-12345678901-a1b2c3d4e5"
# Change default sender name, message and how many hours workers should work
#from: 'Redminder'
#message: ':redminder: Log the time, please.'
#workday_hours: 8
